# Gitignore for my dotfiles.

# Ignore garbage.
*.core
*.un~
*.swp

# Ignore Accounts/Secret stuff.
.mutt/accs.d
.config/aerc/accounts.conf

# IRSSI
.irssi/saved_nick_colors

# Emacs junk
.emacs.d/auto-save-list
.emacs.d/elpa
.emacs.d/irony
.emacs.d/custom.el

# NeoVim Junk
.config/nvim/plugin/packer_compiled.lua
