[user]
	email = vifino@tty.sh
	name = Adrian Pistol
	signingkey = EC11E631

[push]
	default = simple
[pull]
	rebase = true
[commit]
	gpgsign = false # for now

[rebase]
	autoStash = true	

[alias]
#	squash = "!f(){ git reset --soft HEAD~${1} && git commit --edit -m\"$(git log --format=%B --reverse HEAD..HEAD@{1})\"; };f"
	squash = !EDITOR="\"_() { sed -n 's/^pick //p' \"\\$1\"; sed -i .tmp '2,\\$s/^pick/f/' \"\\$1\"; }; _\"" git rebase -i
	contributors = shortlog --summary --numbered
	credits = !git log --format='%aN' | sort -u
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	fixup = rebase -i --autosquash HEAD@{u}
	pfush = push --force-with-lease
	amen = commit --amend --no-edit
	root = rev-parse --show-toplevel
	contains = branch --contains
	stat = diff --stat
	todo = grep TODO

[pager]
#	diff = false
	branch = false
	pull = false
	todo = false
	root = false
	contains = false
	stat = false
	contributors = false

# Delta config.
[delta]
    features = side-by-side line-numbers decorations
    whitespace-error-style = 22 reverse

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none

# LFS stuff.
[filter "lfs"]
	required = true
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	clean = git-lfs clean -- %f
